
<%= link_to "Add Your Kitten", new_kitten_path %>
<h3>Kittens list:</h3>
<% @kittens.each do |kitten| %>
  <a class="header-links" href=<%= "/kittens/#{kitten.id}" %>><h4><%= kitten.name %></h4></a>
  <ul>
    <li>Age: <%= kitten.age %></li>
    <li>Cuteness: <%= kitten.cuteness %></li>
    <li>Softness: <%= kitten.softness %></li>
  </ul>
<% end %>